<div class="member-list">
  <div class="row">
    <div class="col-12">
      Space for filters
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Food</th>
          <th>Notes</th>
          <th *ngIf="showControls">Actions</th>
        </tr>
        <tr *ngFor="let member of members">
          <td>{{member.name}}</td>
          <td>{{member.status}}</td>
          <td>{{member.email}}</td>
          <td>{{member.phone}}</td>
          <td>{{member.food}}</td>
          <td>{{member.notes}}</td>
          <td *ngIf="showControls">
            <button class="btn btn-warning" (click)="editMember(member)">edit</button>
            <button class="btn btn-danger" (click)="deleteMember(member)">delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>