<div class="input-group">
  <input class="form-control" placeholder="yyyy-mm-dd" [name]="id" [(ngModel)]="datePickerDate" #d="ngbDatepicker" ngbDatepicker
    (focus)="d.open()" [required]="required">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
  </div>
  <input type="time" class="form-control" placeholder="yyyy-mm-dd" [name]="id" [(ngModel)]="time" #t [required]="required">
  {{datePickerDate | json : ' '}} {{time | json : ' '}}
</div>