<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{isUpdate ? 'Update Member' : 'Add Member'}}</h4>
  <button type="button" class="btn close" aria-label="Close" (click)="onDismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)="onConfirm()" #newMemberForm="ngForm">
  <div class="modal-body">
    <div class="form-group">
      <label for="member-name">Name</label>
      <input type="text" [(ngModel)]="member.name" id="member-name" name="member-name" class="form-control" placeholder="Bernard" required>
    </div>
    <div class="form-group">
      <label for="member-email">Email</label>
      <input type="email" [(ngModel)]="member.email" id="member-email" name="member-email" class="form-control" placeholder="bernard@gmail.com" required>
    </div>
    <div class="form-group">
      <label for="member-phone">Phone</label>
      <input type="tel" [(ngModel)]="member.phone" id="member-phone" name="member-phone" class="form-control" placeholder="+49123456789">
    </div>
    <div class="form-group">
      <label for="member-food">Food</label>
      <input type="text" [(ngModel)]="member.food" id="member-food" name="member-food" class="form-control" placeholder="vegan">
    </div>
    <div class="form-group">
      <label for="member-notes">Notes</label>
      <textarea class="form-control" [(ngModel)]="member.notes" placeholder="allergic to wheat" id="member-notes" name="member-notes"></textarea>
    </div>
    <div class="form-group">
      <label for="member-status">Status</label>
      <input type="text" [(ngModel)]="member.status" id="member-status" name="member-status" class="form-control" placeholder="active">
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-outline-dark" [value]="isUpdate ? 'Update' : 'Create'" [disabled]="!isInputValid()"/>
  </div>
</form>